body {
    position: relative;
}
#profile, #post {
    display: none;
    padding-bottom:10vh;
}
.coverHeight {
    max-height: 50vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profileHeight {
    border: 0.5vw solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px silver;
}
/*navigation bar */

.navbar {
    height: 2.7em;
    width: 100%;
    z-index: 999;
    top: 0;
    border-bottom: 1px solid #495057;
}

.navbar-container {
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
}

.navbar-logo a {
    font-size: 1.66em;
    color: white !important;
    line-height: 1.2em;
    padding: 0px 0.14em;
}

.navbar-logo {
    transition: background-color 0.2s ease;
}

.navbar-logo:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 3px;
}
.search {
    margin-left: 0.2em;
    width: 25em;
    height: 1.51em;
    border-radius: 2px;
    font-family: serif;
    border: 1px black;
    padding: 0.4em;
    color: #1d2129;
    min-width: 1em;
    outline: none;
}
#searchButton {
    margin-left: -1px;
    height: 1.51em;
    padding: 0 1.3em;
    background: #fff;
    color: #6c757d;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    -webkit-appearance: none;
}

@media screen and (max-width: 479px) {
    .tab {
        display: flex;
        flex-direction: column;
    }
    .heading, .content, #home2 {
        max-width: 100%;
    }
    #profile {
        padding-top: 0;
    }
}